# for projects that use SCons for building: http://http://www.scons.org/
.sconsign.dblite

# Godot 4+ specific ignores
.godot/

# When configure fails, SCons outputs these
config.log
.sconf_temp

# C / C++
*.obj
*.os
*.o
